.page[b-er4had3g4c] {
    height: 100%;
    overflow: hidden;
}

[b-er4had3g4c] .content {
    padding: 1.1rem 2rem 0 2rem;
    overflow: auto;
}

@media (max-width: 1199.98px) {
    [b-er4had3g4c] .page-layout > .dx-gridlayout-root {
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

[b-er4had3g4c] .fit-width {
    max-width: 100%;
}

[b-er4had3g4c] .mw-1100 {
    max-width: 1100px;
}
